@font-face {
	font-family:fz;
	src: url('./../fonts/DS-Digital\ Bold.ttf');
}
*{
    margin: 0;
    padding: 0;
}

ul,li{
    display: block;
    list-style: none;
}
.main{
    background: url('./../img/bg.png') no-repeat;
    background-position: center center;
    min-height: 100vh;
    background-color: #0e3075;
}
.top_main{
    /* background: url('./../img/bt.png') no-repeat;
    background-position: center center; */

    text-align: center;
}
.top_main img{
    max-width: 90%;
}
.to_home{
    text-align: center;
}
.to_home img{
    cursor: pointer;
}
.content{
    background: url('./../img/ptgk.png') no-repeat;
    height: 371px;
    width: 676px;
    margin: 30px auto 0;
    position: relative;
}
.count{
    position: absolute;
    width: 500px;
    top: 67px;
    left: 87px;
}
.count li{
    line-height: 65px;
    letter-spacing:3px;
}
.count li.text_2{
    margin-top: 30px;
}
.count li.text_3{
    margin-top: 29px;
    
}
.count li > label{
    color: #FFF;
    font-size: 26px;
    margin-left: 25px;
    margin-right: 5px;
}
.count li span{
    background-image:-webkit-linear-gradient(left, #aad8e7, #00ffb3);
    color: #00ffb3;
    -webkit-background-clip:text;
	-webkit-text-fill-color:transparent;
    font-size: 16px;
    font-family:'fz';
    display: inline-block;
}
.count li span > label{
    font-size: 34px;
}
/* 底部 */
.menu_main{
    /* border: 1px solid red; */
    width: 1200px;
    margin: 50px auto 0;
    padding-bottom: 20px;
}


.swiper-container {
    /* width: 100%; */
    height: 100%;
}
.swiper-slide {
    text-align: center;
    /* border: 1px solid red; */
    cursor: pointer;
}
.swiper-slide .imgTag{
    width: 226px;
    height: 228px;
    margin: 0 auto;
}
.swiper-slide .imgTag img{
    max-width: 100%;
}

@media screen and (max-width: 700px) {
    .menu_main{
        width: 100%;
    }
    .swiper-slide .imgTag{
        width: 100%;
    }
    .content{
        width: 100%;
        height: 235px;
        background-size: contain;
        overflow: hidden;
    }
    .count{
        top:50px;
        left: 41px;
        
    }
    .count li {
        line-height: 20px;
    }
    .count li.text_2 {
        margin-top: 35px;
    }
    .count li.text_3 {
        margin-top: 35px;
    }

}